{% extends 'layout.html' %}
{% block content %}
    <h2>{{content.title}}</h2>
    <hr/>
   	<div>{{content.content | safe }}</div>
{% endblock %}

{% block sidebar %}
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" style="background-color: #f5f5f5;margin-top:30px;">
		{% for subcategory in sub_category_list %}
    		<p style="border-bottom:1px solid #eee;padding-bottom:7px;">
    			<a href="/category/{{categoryUrl}}/{{subcategory.url}}/{{subcategory.pk}}">
    				<span class="glyphicon glyphicon-link"></span>	{{subcategory.name}}
    			</a>
    		</p>
    	{% endfor %}     
	</div><!--/.sidebar-offcanvas-->
{% endblock %}